body{
background-color: azure;
}
.login a{
color:white;
}

.header{
    
    height:50px;
    display:flex;
   flex-grow:1;
   background-color:white;
    flex-basis:1100px;
    width:1080px
  }
  
.header1{
    height:40px;
  
  margin-left:0px;
    background-color: black;
    display:flex;
    
}
.header1 > *{
    line-height: 10px;
    text-align:center;
    height: 30px;
    margin:1px;
    padding:2px;
    flex-grow:1;
    background-color:black;
    text-align: center;
    border-radius: 10px;

}
input{
    width:650px;
    border-radius: 20px;
}
.list{
    
    height:50px;
    display:flex;
   flex-grow:1;
   background-color:white;
    flex-basis:1100px;
    width:1080px
}
.list > *{
    background-color:rgba(0,0,0,0.9);
    margin:1px;
    padding:2px;
    border: 2px solid white;
    height:40px;
    text-align:center;
    line-height:50px;
    flex-grow:1;
     border-radius: 12px;
    }
    *{
        margin:0px;
        padding:0px;
    }
 li  img{
      width:400px;
      height:300px;
  }